nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  .logo {
    font-size: 2em;
  }

  .nav-links {
    margin-right: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    .nav-link {
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        transform: scale(1.5);
      }

      &:not(:last-child) {
        margin-right: 2.5em;
      }
    }
  }
}
