<div class="body">
  <div class="container">
    <div class="container-body secondary article-buttons">
      <h5 class="primary-color tac">From Principal's Desk!</h5>
      <div class="fd">
        <div>
          <img class="profile" src="assets/images/principal.jpg" />
          <h5 class="tac full primary-color">Dr. Suchitra Bhattacharya</h5>
        </div>
        <div>
          <p class="ml1 primary-color">
            <!-- {{ msg }} -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
