<div class="container" style="margin-bottom: 1em">
  <div class="report-buttons secondary container-body">
    <h5 class="primary-color tac">Connect to MRIS Charmwood Counselors!</h5>
    <p style="margin: 0 0 1em 0; font-size: 0.75em" class="primary-color tac">
      (Click email to copy)
    </p>
    <div class="row tac">
      <h5 class="primary-color">
        Ms. Neeti
        <h6
          (click)="copyToClipboard('neeti.mriscw@mriscw.edu.in')"
          class="primary-color"
          style="cursor: pointer"
        >
          neeti.mriscw@mriscw.edu.in
        </h6>
      </h5>
    </div>
    <div class="row tac">
      <h5 class="primary-color">
        Ms. Swati Sharma
        <h6
          style="cursor: pointer"
          (click)="copyToClipboard('swatisharma.mriscw@mris.edu.in')"
          class="primary-color"
        >
          swatisharma.mriscw@mris.edu.in
        </h6>
      </h5>
    </div>
  </div>
</div>

<app-footer></app-footer>
